<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(UD_BundleDisplayName)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MKDirectionsRequest</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.maps.directionsrequest</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(UD_BundleIdentifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1012</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array>
		<string>MKDirectionsModeBike</string>
		<string>MKDirectionsModeBus</string>
		<string>MKDirectionsModeCar</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Need camera access for uploading Images</string>
	<key>NSContactsUsageDescription</key>
	<string>$(PRODUCT_NAME) contacts use.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Application need to use your location permission for background activity</string>
	<key>NSLocationAlwaysUsageDescription - INACTIVE</key>
	<string>Application need to use your location permission for background activity</string>
	<key>NSLocationUsageDescription</key>
	<string>Need location access for updating nearby friends XXX</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Application need to use your location permission when using the app</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Need microphone access for uploading videos</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Our application needs permission to write photos...</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) users photos</string>
	<key>Privacy - NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) microphone use.</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>5d226b77fa483430c40259fe560c21d1e10589d0</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>FontAwesome.ttf</string>
		<string>OpenSans-Bold</string>
		<string>OpenSans-BoldItalic</string>
		<string>OpenSans-ExtraBold</string>
		<string>OpenSans-ExtraBoldItalic</string>
		<string>OpenSans-Italic</string>
		<string>OpenSans-Light</string>
		<string>OpenSans-LightItalic</string>
		<string>OpenSans-Regular</string>
		<string>OpenSans-Semibold</string>
		<string>OpenSans-SemiboldItalic</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
